{% include components/separator-rounded.html class="nw-bg-white-light" %}

<section class="nw-download">
	<section class="container">
		<div class="row text-center">
			<div class="col-md-6">
				<a href="#" class="btn btn-primary">Download</a>
			</div>
			<div class="col-md-6">
				<a href="#" class="nw-button nw-download-link btn btn-primary btn-lg text-center" role="button">
					<span class="nw-button-icon pull-left ion-android-download"></span>
					<span class="nw-button-content pull-left">
						<span class="nw-button-title">
							<strong>SDK</strong>
						</span>
						<span class="nw-button-subtitle">
							<small>v0.15.1</small>
						</span>
					</span>
				</a>
			</div>
		</div>
	</section>
</section>