<section class="nw-features">
	<section class="container">
	    <div class="row">
	        <div class="col-md-4">
	            {% include components/features-item.html icon="ion-code" content="New way of writing native applications web technologies: HTML5, CSS3, and WebGL" %}
	        </div>
	        <div class="col-md-4">
	            {% include components/features-item.html icon="ion-social-html5" content="Full support for the features in browser" %}
	        </div>
	        <div class="col-md-4">
	            {% include components/features-item.html icon="ion-social-nodejs" content="Complete support for Node.js APIs and all third party modules

" %}
	        </div>
	    </div>
	</section>
</section>