<section class="nw-features nw-border-top">
	<section class="container-fluid">
		<div class="row">
	        <div class="col-md-4 col-sm-4">
	            {% include components/features-item.html icon="ion-code" content="New way of writing native applications web technologies: HTML5, CSS3, and WebGL" %}
	        </div>
	        <div class="col-md-4 col-sm-4">
	            {% include components/features-item.html icon="ion-social-html5" content="Full support for the features in browser" %}
	        </div>
	        <div class="col-md-4 col-sm-4">
	            {% include components/features-item.html icon="ion-social-nodejs" content="Complete support for NodeJS APIs and all third party modules" %}
	        </div>
	    </div>
	    <div class="row">
	        <div class="col-md-4 col-sm-4">
	            {% include components/features-item.html icon="ion-social-javascript" content="Call NodeJS modules directly from the DOM" %}
	        </div>
	        <div class="col-md-4 col-sm-4">
	            {% include components/features-item.html icon="ion-lock-combination" content="Javascript Source Protection" %}
	        </div>
	        <div class="col-md-4 col-sm-4">
	            {% include components/features-item.html icon="ion-social-tux" content="Available on Linux, Mac OS X and Windows" %}
	        </div>
	    </div>
	</section>
</section>