<section class="nw-welcome">
	<section class="container">
		<div class="row">
			<div class="col-md-12">
				<p class="text-center text-primary">
					{{ site.welcome-message }}
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 clearfix">
				{% include components/welcome-item.html label="Quick Start" link="#" icon="fa-laptop" %}
			</div>
			<div class="col-md-3 clearfix">
				{% include components/welcome-item.html label="Downloads" link="#" icon="fa-download" %}
			</div>
			<div class="col-md-3 clearfix">
				{% include components/welcome-item.html label="Blog" link="#" icon="fa-commenting" %}
			</div>
			<div class="col-md-3 clearfix">
				{% include components/welcome-item.html label="Documentation" link="#" icon="fa-book" %}
			</div>
		</div>
	</section>
</section>