.nw-header {
	background-color: $nw-main-black;
	text-align: center;
	padding: ( $header-font-size * 1.5 ) 0;
	font-size: $header-font-size;
	border-bottom: 4px solid $brand-primary;
	box-shadow: #fff 0 1px 0;
	height: $header-height;

	> .container {
		height: 100%;
	}

	.nw-logo-wrapper {
		position: absolute;
		width: 100px;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 99;
	}
}

#nw-header-background {
	canvas {
		-webkit-user-select: none;
		    moz-user-select: none;
			-ms-user-select: none;
				user-select: none;
		position: absolute;
		height: $header-height !important;
		top: 0;
		left: 0;
	}
}

.nw-logo {
	margin: 0;
	font-weight: normal;
	height: 100%;

	a {
		color: $brand-primary;
		text-decoration: none;
		font-weight: 100;
		line-height: calc( #{$header-height} / 2 );

		strong {
			color: $nw-main-white;
		}
	}
}